<% include partials/header %>

<!-- Bootstrap for width / centering -->
<div class="container-fluid">
<div class="container">

<br />
<h1> <%= display.title %> </h1>
<p>&nbsp;</p>

<% include partials/password_note %>
<% include partials/restriction_note %>

<p>&nbsp;</p>
<p>USERNAME: <%= display.username %></p>
<p>PASSWORD: <%= display.password %></p>
<p>&nbsp;</p>

<%if (display.note.length > 0) { %>
	<p align="center"><%= display.note %></p>
<% } %>

<p align="center">
<a class="btn btn-primary" href="<%= display.url %>" role="button" target="_blank">
CLICK HERE TO CONTINUE TO RESOURCE
</a></p>

</div>
</div>

<% include partials/footer %>
