<% include partials/header %>

<!-- Bootstrap for width / centering -->
<div class="container-fluid">
<div class="container">

<br />
<h1> <%= display.title %> </h1>
<br/>

<% include partials/password_note %>

<% for (var i=0; i < display.accounts.length; i++) { %>
	<hr/>
	<p>Username: <%= display.accounts[i].username %> </p> 
	<p>Password: <%= display.accounts[i].password %> </p> 
<% } %>

<% for (var i=0; i < display.customFields.length; i++) { %>
	<p><%= display.customFields[i].name %>: <%= display.customFields[i].value %> </p> 
<% } %>
<hr/>

<%if (display.note.length > 0) { %>
	<p align="center"><%= display.note %></p>
<% } %>

<% include partials/restriction_note %>

<p align="center">
<a class="btn btn-primary" href="<%= display.url %>" role="button" target="_blank">
CLICK HERE TO CONTINUE TO RESOURCE
</a></p>

</div>
</div>

<% include partials/footer %>
